@media (max-width:1140px){
    .container{
        height: 160vh;
    }
}
@media (max-width:570px){
    .container{
        height: 220vh;
    }
}
@media (max-width:470px){
    h1{
        font-size: 70px;
    }
    .O-h1{
        font-size: 150px;
        margin-right: 15px;
    }
}
@media (max-width:385px){
    .card{
        width: 100px;
        height: 100px;
    }
    h1{
        font-size: 60px;
    }
    .O-h1{
        font-size: 110px;
        margin-right: 15px;
    }
    .container{
        height: 170vh;
    }
}
