@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&family=Noto+Sans+Sundanese:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.noto-sans-shavian-regular {
    font-family: "Noto Sans Sundanese", sans-serif;
    font-family: "Noto Sans Shavian", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Raleway", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;

}

body {
    background-color: #111827;
    background-image: url(../media/bg.png);
}

.container {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>img {
    height: 70px;
    margin: 12px 10px;
}

h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: "Raleway", sans-serif;

}

#preloader{
    background: #111827 url(../media/screen-loader.gif) no-repeat center center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


.main {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.card {
    padding: 20px 0px;
    width: 70vw;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    min-height: 70vh;
    background: 135deg, rgba(81, 0, 0, 0.1), rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 8px 32px 0 rgb(125, 4, 4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.item {
    width: 90%;
    max-width: 500px;
    border: none;
    border-radius: 10px;
    height: 50px;
    margin: 10px 0px;
    text-align: center;
    font-weight: 700;
    color: #111827;
    font-size: 18px;    
}


.item-btn {
    background-color: #b20000;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 40px;
    color: rgb(10 0 87);
    background-image: url(../media/bg.png);
    transition: 200ms ease-in;
    width: 100%;
    max-width: 200px;
    margin-top: 50px;
}

.item-btn:hover {
    background-color: rgb(10 0 87);
    color: #b20000;
    background-image: url(../media/bg2.png);

}

@media (max-width:520px){
    .card{
        width: 90%;
    }
}