@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&family=Noto+Sans+Sundanese:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.noto-sans-shavian-regular {
    font-family: "Noto Sans Sundanese", sans-serif;
    font-family: "Noto Sans Shavian", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Raleway", sans-serif;

}
*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background-image: url(../media/bg.png);
    background-color: #b20000;
    /* font-family: "Noto Sans Sundanese", sans-serif; */
    /* font-family: "Noto Sans Shavian", sans-serif; */
    font-family: "Raleway", sans-serif;

}
h1{
    text-align: center;
    /* padding-top: 50px; */
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: rgb(10 0 87);
}
.O-h1{
    font-size: 190px;
    margin-right: 25px;
    font-weight: 800;
}
.cards{
    display: flex;
    /* background-color: aqua; */
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(10 0 87);
    height: 350px;
    width: 350px;
    border-radius: 20px;
    margin: 20px 20px;
}
.card > a > img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.card > a{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.card:hover{
    box-shadow: 20px 20px 20px black;

}