@media (max-width:550px){
    h1{
        font-size: 55px;
    transform: translateY(-2px);
        
    }
    .hero > p{
        font-size: 27px;
        margin: 5px 0px;
    transform: translateY(-2px);

    }
    .logo>img {
        height: 80%;
        /* transition: ease-out 0.6s; */
        /* transform: scale(0.1); */
    
    }
    .btn-hero{
        margin-top: 15px;
    }
}
@media (max-width:430px){
    h1{
        font-size: 50px;
    transform: translateY(-2px);
        
    }
    .hero > p{
        font-size: 24px;
        margin: 7px 0px;
    transform: translateY(-2px);

    }
    .logo>img {
        height: 60%;
        /* transition: ease-out 0.6s; */
        /* transform: scale(0.1); */
    
    }
    .btn-hero{
        margin-top: 14px;
        width: 320px;
    }
}
@media (max-width:850px){
    .about{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        height: 120vh;
    }
    .about-section{
        width: 90%;
    }
    .about-section-1{
        margin-bottom: 26px;
    }
    .about-section-2 > p{
        font-size: 25px;
    }
}
@media (max-width:355px){
    h2{
        font-size: 40px;
    }
    .about-section-2 > p{
        font-size: 16px;
    }
}
@media (max-width:500px){
    h2{
        font-size: 50px;
    }
    .about-section-2 > p{
        font-size: 22px;
    }
    .about-section-1 > img{
        width: 240px; 
    }
}
@media (max-width:400px){
    h2{
        font-size: 43px;
    }
    .about-section-2 > p{
        font-size: 21px;
    }
    .about-section-1 > img{
        width: 240px; 
    }
}