@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&family=Noto+Sans+Sundanese:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.noto-sans-shavian-regular {
    font-family: "Noto Sans Sundanese", sans-serif;
    font-family: "Noto Sans Shavian", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Raleway", sans-serif;

}
*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;

}
.container{
    background-color: #b20000;
    background-image: url(../media/bg.png);
    min-height: 100vh;
}
h1{
    text-align: center;
    font-size: 68px;
    margin-left: 14px;
    color: rgb(10 0 87);
    font-weight: 800;

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 10px;
}
.header > img{
    height: 70px;
}
.content{
    margin: 0px 30px 0px 30px;
    padding-bottom: 60px;
}
h2{
    font-size: 40px;
    color: rgb(10 0 87);
    margin: 20px 0px 3px 0px;
}

h3{
    margin: 10px 0px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: 120ms ease-in;
}
h3:hover{
    color: rgb(10 0 87);

}
a{
    text-decoration: none;
}

hr{
    height: 3px;
    background-color: white;
    max-width: 1000px;
}
.hr-his-lec{
    max-width: 1900px;
    }
    .hr-2{
    max-width: 600px;

}
    .hr-3{
    max-width: 900px;

}
.hr-4{
    max-width: 550px;
}
.hr-5{
    max-width: 650px;
}
.hr-6{
    max-width: 550px;
}
.hr-7{
    max-width: 650px;
}
.hr-8{
    max-width: 550px;
}
.hr-9{
    max-width: 790px;
}
.hr-10{
    max-width: 790px;

}
.hr-a-1{
    max-width: 700px;
}
.hr-a-2{
    max-width: 640px;
}
.hr-a-3{
    max-width: 640px;
}
.hr-a-4{
    max-width: 800px;
}
.hr-a-5{
    max-width: 500px;
}
.hr-a-6{
    max-width: 650px;
}