@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&family=Noto+Sans+Sundanese:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.noto-sans-shavian-regular {
    font-family: "Noto Sans Sundanese", sans-serif;
    font-family: "Noto Sans Shavian", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    }
    *{
        margin: 0;
        padding: 0;
        font-family: "Raleway", sans-serif;
}

.container{
    background-color: rgb(10 0 87);
    background-image: url("../media/bg2.png");
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header > img{
    height: 65px;
    margin-right: 10px;
}
h1{
    font-size: 70px;
    color: #b20000;
    font-weight: 900;
}
.content{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    margin-top: 80px;
    height: 65vh;
    min-height: 500px;
}
.item{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0px 80px;
}

h2{
    text-align: center;
    font-size: 52px;
    margin-bottom: 10px;
    color: #b20000;
    font-weight: 900;
}
.small-cont{
    /* height: 60%; */
    /* min-height: 320px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* min-width: 310px; */
    /* max-width: 540px; */
    margin-top: 20px;
    /* overflow: hidden;s */
    margin-right: 20px;
    margin-left: 20px;
}
.small-cont > iframe{
    border-radius: 30px;
}

@media (max-width:1000px) {
    .item{
        margin: 0px 20px;
    }
}

@media (max-width:675px) {
    .content{
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
        /* padding: 0px 20px; */
        /* padding: 0px 30px; */
    }
    .item{
        /* margin: 0px 200px; */
        /* width: ; */
    max-width: 540px;

    }
    .small-cont{
        margin: 20px 30px;
    }
}
@media (max-width:415px) {
    h1{
        font-size: 50px;
    }
    .header > img{
        height: 50px;
    }
}

@media (max-width:375px) {
    .small-cont{
        /* background-color: aqua; */
        min-width: 30px;
        min-height: 260px;
    }
}