@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sundanese:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&family=Noto+Sans+Sundanese:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&family=Noto+Sans+Sundanese:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

 .noto-sans-shavian-regular {
      font-family: "Noto Sans Sundanese", sans-serif;
    font-family: "Noto Sans Shavian", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Raleway", sans-serif;

  }

  
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2E2E2E;
}
.hero{
    height: 100vh;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

}
.logo{
    height: 50vh;
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.logo > img{
    height: 100%;
    transition: ease-out 0.5s;
}
.half-logo.img1-loader{
    transform: translateX(350px);
}
.half-logo.img2-loader{
    transform: translateX(-350px);
}
h1{
    /* font-family: "Noto Sans Sundanese", sans-serif; */
    font-family: "Noto Sans Shavian", sans-serif;

    color: white;
    font-size: 47px;
    transform: translateY(-5px);
    font-weight: 600;
}
.hero > p{
    font-family: "Raleway", sans-serif;
color: white;
transform: translateY(-5px);
font-size: 20px;
font-weight: 400;
margin-bottom: 10px;
}
.btn-hero{
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.hero-btn-1{
    width: 90px;
    padding: 7px 0px;
    background-color: #0137fb;
}
.hero-btn-2{
    width: 90px;
    padding: 7px 0px;
    background-color: #b20000;

}
.btn-hero > button{
    /* width: 130px; */
    /* height: 32px; */
    border: none;
    border-radius: 17.5px;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 600;
    border: solid white 3px;
}