@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&family=Noto+Sans+Sundanese:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.noto-sans-shavian-regular {
    font-family: "Noto Sans Sundanese", sans-serif;
    font-family: "Noto Sans Shavian", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Raleway", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    color: white;
}

.hero {
    background-color: #1F2937;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-image: url(../media/bg.png);
}

.logo {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: end;
}

.logo>img {
    height: 100%;
    transition: ease-out 0.6s;
    transform: scale(0.1);

}

.anim-1{
    transform: scale(1) !important;
}

h1 {
    font-family: "Noto Sans Shavian", sans-serif;
    color: white;
    font-size: 70px;
    transform: translateY(-10px);
    font-weight: 600;
    text-align: center;
}

.hero>p {
    font-family: "Raleway", sans-serif;
    color: white;
    transform: translateY(-8px);
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.btn-hero {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.hero-btn-1 {
    width: 146px;
    padding: 7px 0px;
    background-color: #0137fb;
}

.hero-btn-2 {
    width: 146px;
    padding: 7px 0px;
    background-color: #b20000;

}

.btn-hero>button {
    border: none;
    border-radius: 40px;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 21px;
    font-weight: 600;
    border: solid white 5px;
    transition: linear 100ms;
}

.hero-btn-1:hover {
    border-color: black;
    color: black;
    cursor: pointer;
}

.hero-btn-2:hover {
    border-color: black;
    color: black;
    cursor: pointer;
}

.about{
    height: 90vh;
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-image: url(../media/bg.png); */

}

.about-section-1 > img{
    width: 300px; 
}
h2{
    font-family: "Noto Sans Shavian", sans-serif;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}
.about-section{
    width: 45%;
}
.about-section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
}
.about-section-2 >p{
    margin: 0px 20px;
    text-align: center;
    font-size: 26px;

}
.about-anotation{
    color: #b20000;
    font-weight: 600;
}
.portal{
    background-color: #1F2937;
    height: 100vh;
    padding-top: 50px;
    background-image: url(../media/bg.png);


}
.portal-header > img{
    width: 130px;
}
.portal-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.portals > img{
    height: 300px;
}
h3{
    font-size: 70px;
    font-family: "Raleway", sans-serif;
    margin-left: 20px;
}
.portals{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.portals > img{
    height: 360px;
    margin: 0px 70px;
    cursor: pointer;
    border-radius: 10px;
}
.portals > img:hover{
    box-shadow: 20px 20px 20px black;
}

.vision{
    height: 100vh;
    background-color: #111827;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.vision-header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.vision-header > img{
    width: 130px;
}
h4{
    font-size: 70px;
    font-family: "Raleway", sans-serif;
    margin: 0px 15px;
}

.vision-content{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.vision-content > img{
    height: 530px;
    margin-left: 100px;

}
.vision-content > p{
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    width: 80vh;
}
